
.wrapper {
    width: 960px;
    margin: 0 auto;

    
}
.wrapper h2 {
    font-size: 16px;
    margin-bottom: 20px;
}


/*header-style*/

header {
    background-image: url(../imgs/headbar.gif);
    background-size: cover;
    height: 60px;
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    }
header > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
header a {
    text-decoration: none;
    color: white;
}
header button {
    padding: 7px 10px;
    background-color: white;
    color: #f60;
    border: none;
    font-size: 16px;
    border-radius: 2px;
}
/*MAIN-STYLE*/

/*BEACH-SECTION*/

.beach-section img {
width: 100%;
height: 450px;
object-fit: cover;
}
.beach-section {
    margin-bottom: 20px;
}
/*worldwide-defaut*/
.worldwide-defaut {
    margin-bottom: 20px;
    box-shadow: 0 0 5px #bbb;
display: flex;
border-radius: 10px;
overflow: hidden;
}

.worldwide-defaut div {
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 10px;
}

.worldwide-defaut button {
background-color: #f60;
color: white;
border: none;
padding: 8px 30px;
border-radius: 2px;
align-self: self-end;
}
.worldwide-defaut p {
    font-size: 13px;
    margin-bottom: 10px;
}
/*WORLDWIDE*/
.worldwide img {
    width: 640px;
    height: 250px;
    object-fit: cover;
    object-position: right top;
    display: block;
}




/*BRETAGNE*/
.bretagne img {
    width: 640px;
    height: 250px;
    object-fit: cover;
    object-position: right top;
    display: block;
}

/* TRIPLE IMAGE */

.triple-imgs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.triple-imgs img {
    display: block;
    border-radius: 5px;
    height: 220px;
    width: 285px;
    object-fit: cover;
    box-shadow: 0 0  5px #bbb;
}

/* FOOTER */
footer {
    background-color: #f2f2f2;
}
.footer-div {
    padding: 10px;
    display: flex;

    justify-content: space-between;
}

.footer-div p {
    font-size: 14px;
    margin-bottom: 16px;
}

.footer-div li {
    font-size: 12px;
    line-height: 18px;
}