* {
    font-family: easyJet Rounded Book,sans-serif;
}
.wrapper {
    width: 960px;
    margin: 0 auto;

    
}
.wrapper h2 {
    font-size: 16px;
    margin-bottom: 20px;
}


/*header-style*/

header {
    background-image: url(../imgs/headbar.gif);
    background-size: cover;
    height: 60px;
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    }
header > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
header a {
    text-decoration: none;
    color: white;
}
header button {
    padding: 7px 10px;
    background-color: white;
    color: #f60;
    border: none;
    font-size: 16px;
    border-radius: 2px;
}
/*MAIN-STYLE*/

/*BEACH-SECTION*/

.beach-section img {
width: 100%;
height: 690px;
object-fit: cover;
}
.beach-section {
    margin-bottom: 20px;
    position: relative;
}

.beach-absolute {
    /* border: rgb(119, 0, 255) solid 2px; */
    height: 450px;
    position: absolute;
    top: 20px;
    width: 100%;
}

.beach-white-absolute {
    /* border: palevioletred 6px solid; */
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
}

.wrapper-white-bar {
    height: 100%;
    display: flex;
    padding: 10px;
    font-size: 13px;
    flex-direction: column;
    justify-content: space-between;
    /* border: red 3px solid ; */

}

.offers {
    display: flex;
}

.offers > div {
display: flex;
flex: 1;
flex-direction: column;
gap: 10px;
/* border: solid 4px yellow; */
}

.offers button {
    padding: 6px 9px;
    background-color: #f70;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    align-self: self-start;
}


.bookingmenu-wrapper {
    /* border: 5px, solid, green; */
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 280px;
    /* border: violet 4px solid ; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.left-column-title {
    font-size: 40px;
    font-family: easyJet Headline, sans-serif;
}

.left-column > div {
    font-size: 30px;
}

.left-column button {
    padding: 15px 25px;
    background-color: #f60;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    align-self: flex-start;
}


/*worldwide-defaut*/
.worldwide-defaut {
    margin-bottom: 20px;
    box-shadow: 0 0 5px #bbb;
display: flex;
border-radius: 10px;
overflow: hidden;
}

.worldwide-defaut div {
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 10px;
}

.worldwide-defaut button {
background-color: #f60;
color: white;
border: none;
padding: 8px 30px;
border-radius: 2px;
align-self: self-end;
}
.worldwide-defaut p {
    font-size: 13px;
    margin-bottom: 10px;
}
/*WORLDWIDE*/
.worldwide img {
    width: 640px;
    height: 250px;
    object-fit: cover;
    object-position: right top;
    display: block;
}

.caroussel-section {
    height: 380px;
    margin-bottom: 20px;
    /* border: 5px solid pink; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: thin;
    gap: 20px;
    padding-left: 20px;
}
.caroussel-card img {
    height: 140px;
    display: block;
    width: 100%;
    object-fit: cover;
}
.caroussel-card {
    height: 350px;
    width: 300px;
    /* border: solid blue 5px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    flex-shrink: 0;
    box-shadow: 0 0 5px #bbb;
}

.caroussel-card > div {
    height: 100%;
    /* border: 10PX SOLID GREEN ; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.caroussel-card button {
    position: absolute;
    bottom: 15px;
    padding: 5px;
    background-color: #f70;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 14px;
}


/*BRETAGNE*/
.bretagne img {
    width: 640px;
    height: 250px;
    object-fit: cover;
    object-position: right top;
    display: block;
}

/* TRIPLE IMAGE */

.triple-imgs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    /* border: #f60 solid 4px; */
}

.triple-imgs img {
    display: block;
    border-radius: 5px;
    height: 220px;
    width: 285px;
    object-fit: cover;
    box-shadow: 0 0  5px #bbb;
}

.triple-imgs > div {
    position: relative;
}

.triple-imgs-absolute {
    position: absolute;
    top: 0px;
    height: 220px;
    width: 285px;
    padding: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.triple-imgs-absolute h4 {
    font-size: 30px;
}

.triple-imgs-absolute a {
    font-size: 15px;
}

/* BOTTOM-CAROUSSEL */

.bottom-caroussel {
    /* border: #f60 solid 5px; */
    margin-bottom: 50px;
}

.bottom-caroussel h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.bottom-caroussel > menu {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: thin;
    gap: 20px;

}

.bottom-caroussel  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    font-size: 30px;
    align-self: center;
}

.bottom-caroussel div {
height: 145px;
width: 145px;
padding: 15px;
border-radius: 10px;
background-color: #333;
color: white;
flex-shrink: 0;
box-sizing: border-box;
font-size: 14px;
margin-bottom: 10px;
}

.bottom-caroussel div:hover {
    background-color: #f70;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #f2f2f2;
}
.footer-div {
    padding: 10px;
    display: flex;

    justify-content: space-between;
}

.footer-div p {
    font-size: 14px;
    margin-bottom: 16px;
}

.footer-div li {
    font-size: 12px;
    line-height: 18px;
}